@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
    font-family: 'Roboto', Calibri, Helvetica, sans-serif;
}

main {
    width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
}

li > img {
    width: 16px;
    height: 16px;
}