@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  background-image: url("../../public/images/backgroundImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}